*.class

# Package Files #
#*.jar
*.war
*.ear


addata/.classpath

addata/.gradle/

addata/.project

addata/.settings

LogAnalyzer/.classpath

addata/bin

addata/build

addata/gradle



LogAnalyzer/.project
LogAnalyzer/LogAnalyzer.iml
